body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#nav {
    margin: 0, 0;
    width: 100%;
    height: 50px;
    background-color: rgb(125, 230, 172);
}

#nav>p {
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
    margin-top: 15px;
}

#nav>p>a {
    color: black
}

#text {
    text-align: center;
    font-size: 40px;
    color: rgb(125, 230, 172);
}

#form {
    width: 500px;
    position: absolute;
    left: 750px;
}

#form>form>p {
    margin-left: 0;
    display: inline-block;
    width: 50px;
    font-size: 30px;
}

input {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    margin-left: 100px;
    display: inline-block;
}



button {
    background-color: rgb(125, 230, 172);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 150px;
}