body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#nav {
    margin: 0, 0;
    width: 100%;
    height: 50px;
    background-color: rgb(125, 230, 172);
}

#nav>p {
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
    margin-top: 15px;
}

#nav>p>a {
    color: black
}

#text {
    text-align: center;
    font-size: 100px;
    color: rgb(125, 230, 172);
}